<% if @parent_order.ordered %>
  <br>
  This order has been made, sorry!
  <br><br>
  <%= link_to 'Back to the order', order_path(@parent_order) %>
<% else %>
  <%= form_for @personal_order, url: order_personal_orders_path do |f| %>
    You are going to add an order for <%= params[:order_id] %>
    <div>
      Your Name: <br>
      <%= f.text_field :name %>
    </div>
    <div>
      What would you like?: <br>
      <%= f.text_field :items %>
    </div>
    <div>
      Price: <br>
      <%= f.text_field :price %>
    </div>
    <%= f.submit "Create", :class => "submit" %>
  <% end %>
<% end %>
