Sign Up:
<%= form_for(@user) do |f| %>
  <%if @user.errors.any? %>
    <p> There were some errors with your form </p>
  <% end %>
  <div>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  </div>
<% end %>
