<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">All the orders, ever!</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div>
<table class="table table-striped table-bordered">
  <tr>
    <th></th>
    <th>Restaurant</th>
    <th>Who's Ordering</th>
    <th></th>
  </tr>
    <% @orders.each_with_index do |order, i| %>
      <tr>
        <td><%= i + 1 %> </td>
        <td><%= order.restaurant %></td>
        <td>
          <% if order.user_id && User.find(order.user_id) %>
            <%= User.find(order.user_id).name %>
          <% end %>
        </td>
        <td>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu">
              <%= link_to 'Show', order_path(:id => order.id), class: "dropdown-item" %>
              <% if order.user_id && order.user_id == current_user.id %>
                <%= link_to 'Edit', order_path(:id => order.id), class: "dropdown-item" %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <%= link_to 'Make new order', new_order_path %>
</div>
