<h1> Need a form here </h1>

<div>
  <%= form_for @order, url: orders_path do |f| %>
    <div>
      Restaurant Name: <br>
      <%= f.text_field :restaurant %>
    </div>
    <div>
      Menu URL: <br>
      <%= f.text_field :menu_url %>
    </div>
    <div>
      Tip Percentage:
      <%= f.number_field :tip %>
    </div>
    <div>
      Tax Percentage:
      <%= f.number_field :tax %>
    </div>
    <%= f.submit "Create", :class => "submit" %>
  <% end %>
</div>
