<h3>I'm ordering from <%= @order.restaurant %>. </h3>
<h4> A link to the menu can be found here: <%= @order.menu_url %> </h4>

All current orders:
<div>
  <ul>
    <% @order.personal_orders.each do |p_order| %>
    <li>
      <%= p_order.name %>
      <%= p_order.items %>
      <%= p_order.price %>
      <% if current_user.id == p_order.user_id %>
        <%= link_to 'Cancel Order', order_personal_order_path(p_order),
          data: {:confirm => 'Are you sure?'}, :method => :delete %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
<div>
  <% if !@order.ordered %>
    <%= link_to 'Get your order in!', new_order_personal_order_path(:order_id => @order.id) %>
    <br>
    <% if current_user.id == @order.user_id %>
      <%= link_to 'Make Order.', order_path(@order), :method => :patch, data: {:confirm => "Make the order?"} %>
      <%= link_to 'Remove Order.', order_path(@order), :method => :delete, data: {:confirm => 'Are you sure?'} %>
    <% end %>
  <% else %>
    Order has been made!
  <% end %>
</div>
<div>
  <%= link_to 'Back to all orders', orders_path %>
</div>
