<h3>I'm ordering from <%= @order.restaurant %>. </h3>
<h4> A link to the menu can be found here: <%= @order.menu_url %> </h4>

<p class="bg-info">
  <h4>All current orders:</h4>
</p>

<div>
  <table class="table table-striped table-bordered">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Items</th>
      <th>Price</th>
      <% unless @order.ordered %>
        <th>Actions</th>
      <% end %>
    </tr>
    <% @order.personal_orders.each_with_index do |p_order, i| %>
    <tr>
      <td><%= i + 1 %> </td>
      <td><%= p_order.name %></td>
      <td><%= p_order.items %></td>
      <td><%= number_to_currency(p_order.price) %></td>
      <td>
        <% if current_user.id == p_order.user_id && !@order.ordered %>
          <%= link_to 'Cancel Order', order_personal_order_path(p_order),
            data: {:confirm => 'Are you sure?'}, :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>Subtotal: <%= number_to_currency(@order.personal_orders.sum("price")) %></td>
    <td></td>
  </tr>
  </table>
</div>
<div style="margin-top: 20px; display: flex; justify-content: space-between">
  <% if !@order.ordered %>
    <div>
      <%= link_to 'Get your order in!', new_order_personal_order_path(:order_id => @order.id), class: "btn btn-primary btn-med active" %>
    </div>
    <% if current_user.id == @order.user_id %>
    <div>
      <%= link_to 'Make Order.', order_path(@order), :method => :patch, data: {:confirm => "Make the order?"},
        class: "btn btn-info btn-med active" %>
      <%= link_to 'Remove Order.', order_path(@order), :method => :delete, data: {:confirm => 'Are you sure?'},
        class: "btn btn-danger btn-med active" %>
    </div>
    <% end %>
  <% else %>
    Order has been made!
  <% end %>
</div>
<div style="margin-top: 20px">
  &#9664;<%= link_to 'Back to all orders', orders_path %>
</div>
