<!DOCTYPE html>
<html>
  <head>
    <title>Orderfood</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if current_user %>
        <%= link_to 'Log Out', logout_path %>
      <% end %>
    </div>
    <div>
      <% if notice %>
        <%= notice %>
      <% end %>
    </div>
    <%= yield %>
    <%= javascript_pack_tag 'hello_vue' %>
  </body>
</html>
